<div class="media">
  <span class="glyphicon glyphicon-comment pull-left"></span>
  <div class="media-body">
    <h4 class="media-heading">{{comment.user.username}}
      <small>{{comment.created}}</small>
    </h4>
    {{comment.text}}
  </div>
  <form role="form" action="{% url 'posts:remove_comment' comment_id=comment.id %}" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-warning">Remove comment</button>
  </form>
</div>
