{% extends "posts/base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div class="well">
        <!-- Heading -->
        <h1>{{post.heading}}</h1>

        <!-- Author -->
        <p class="lead">
            by {{post.user.username}}
        </p>

        <!-- Date/Time -->
        <p><span class="glyphicon glyphicon-time"></span> Created on {{post.created}}</p>

      </div>
      <div class="well">

        <!-- Post Content -->
        <p class="lead">{{post.text}}</p>

      </div>

      <!-- Posted Comments -->
      <div id="comments" class="well">
        <h3>Comments</h3>

        <!-- Comment -->
        {% for comment in post.comments.all %}
          <div class="media">
            <span class="glyphicon glyphicon-comment pull-left"></span>
            <div class="media-body">
                <h4 class="media-heading">{{comment.user.username}}
                  <small>{{comment.created}}</small>
                </h4>
                {{comment.text}}
            </div>
            {% if request.user.is_authenticated %}
              <form role="form" action="{% url 'posts:remove_comment' comment_id=comment.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-warning">Remove comment</button>
              </form>
            {% endif %}
          </div>
        {% endfor %}
      </div>

      <!-- Comments Form -->
      <div class="well">
        {% if request.user.is_authenticated %}
          <h4>Leave a Comment:</h4>
          <form id="comment_form" role="form" action="{% url 'posts:comment' post_id=post.id %}" method="post">
            {% csrf_token %}
            <div class="form-group">
              <textarea class="form-control" id="id_text" name="text" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        {% else %}
          <p>Please sign in to add comments</p>
        {% endif %}
      </div>
   </div>
  </div>
{% endblock %}

{% block js %}
<script type="text/javascript">
  $().ready( function() {
    $("#comment_form").submit( function(e) {
      var form = $(this);
      var url = form.attr('action');

      e.preventDefault();

      $.ajax( { 
        async : true,
        url   : url,
        type  : form.attr('method') || "post",
        data  : form.serialize()
      } ) 
      .done( function(response) {
        $('#comments').append( $.parseHTML( response['html'] ) );
      } )
      .fail( function(response) {
        alert( "We were unable to add your comment. Please try again." ); 
      } );

      $('#id_text').val('');
    } );
  } );
</script>
{% endblock %}