{% extends "posts/base.html" %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1 class="text-center">Welcome to Blogola!</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    {% for post in posts %}
        <div class="col-md-offset-2 col-md-8">
          <div class="well">
            <!-- Heading -->
            <a href="{% url 'posts:post' post_id=post.id %}">
              <h1>{{post.heading}}</h1>
            </a>

            <!-- Author -->
            <p class="lead">
                by {{post.user.username}}
            </p>

            <!-- Date/Time -->
            <p><span class="glyphicon glyphicon-time"></span> Created on {{post.created}}</p>
          </div>
        </div>
     {% endfor %}
   </div>
  </div>
{% endblock %}