{% extends "posts/base.html" %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1 class="text-center">Sign In</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <form action="{% url 'login' %}" method="post" accept-charset="utf-8">
        <div class="form-control-label has-danger">
          {% if form.errors %}
            <p>Invalid username or password</p>
          {% endif %}
        </div>
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            <label for="{{ field.name }}">{{ field.label }}</label>
            {{ field }}
        </div>
        {% endfor %}
        <input type="hidden" name="next" value="{{ next }}" />
        <input class="button small" type="submit" value="Sign In"/>
    </form>
   </div>
  </div>
{% endblock %}